.titlebar {
  background: url("../images/sub01_title_image.png") no-repeat center center;
  background-size: cover; }

.post a {
  text-decoration: none;
  color: black; }

.post-header {
  vertical-align: middle; }
  .post-header .vertical-divider {
    vertical-align: middle;
    font-size: 24px;
    font-weight: 100;
    color: #ccc;
    margin: 0 10px; }
  .post-header .tag {
    color: #333;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.07em;
    text-decoration: none; }
    .post-header .tag.active {
      color: #5ddbdb;
      border-bottom: 1px solid #5ddbdb;
      padding-bottom: 2px; }

.post-title {
  vertical-align: middle;
  margin: 0;
  font-size: 26px;
  font-weight: 300;
  display: inline-block; }

.post-list {
  list-style: none;
  padding-top: 24px; }
  .post-list .card {
    background-color: #fafafa;
    height: 364px; }
    .post-list .card-image {
      width: 100%;
      height: 200px;
      background-position: center center;
      background-size: cover; }
    .post-list .card-meta {
      padding-top: 22px; }
    .post-list .card-date {
      margin-left: 20px;
      font-size: 14px;
      font-weight: 400;
      color: grey; }
    .post-list .card-title {
      margin: 0;
      padding-top: 10px;
      margin-left: 20px;
      font-size: 22px;
      font-weight: 300; }

.post-footer {
  text-align: center;
  padding-top: 42px;
  margin-bottom: 80px; }
  .post-footer .btn {
    font-size: 20px;
    font-weight: 600;
    width: 268px;
    line-height: 36px; }