.about {
  position: relative; }
  .about-titlebar {
    text-align: center; }
    .about-titlebar h1, .about-titlebar h2, .about-titlebar h3, .about-titlebar h4, .about-titlebar h5, .about-titlebar h6 {
      font-weight: lighter;
      margin: 0; }
  .about-title {
    font-size: 70px;
    line-height: 1.1em;
    letter-spacing: -0.065em;
    padding-top: 35px; }
  .about-subtitle {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.065em;
    padding-top: 14px; }
  .about-detail {
    margin-top: 115px; }
  .about-bar {
    margin: 4px;
    margin-left: 22px;
    border: 3px solid #72cbcf;
    width: 60px; }
  .about-subject {
    margin-left: 20px;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: -0.085em; }
  .about-text {
    margin-left: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.45em;
    letter-spacing: -0.07em; }
  .about-apply {
    position: absolute;
    top: -50px;
    right: 70px;
    color: white;
    width: 165px;
    height: 286px;
    background: url("../images/apply.png") no-repeat;
    background-size: cover; }
    .about-apply p {
      font-size: 23px;
      font-weight: 600;
      line-height: 1.1em;
      letter-spacing: -0.07em;
      margin: 30px 15px; }
    .about-apply a {
      position: absolute;
      bottom: 0;
      margin: 20px 15px;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      color: white;
      vertical-align: middle; }
      .about-apply a > span {
        vertical-align: middle;
        margin-right: 10px; }

.business {
  position: relative;
  margin-top: 171px; }
  .business-titlebar {
    height: 405px;
    background: url("../images/sub03_sub_title.png") no-repeat 0 0; }
  .business-title {
    margin: 0;
    padding-top: 167px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -0.1em;
    color: white; }
  .business-detail {
    padding-top: 55px;
    padding-bottom: 98px; }
    .business-detail-item {
      padding: 55px 0;
      clear: both; }
      .business-detail-item .left {
        float: left;
        font-size: 35px;
        letter-spacing: -0.1em;
        line-height: 1.2em;
        display: inline-block;
        width: 40%;
        margin: 0 15px; }
      .business-detail-item .right {
        font-size: 18px;
        letter-spacing: -0.1em;
        font-weight: 300;
        float: right;
        display: inline-block;
        width: 650px;
        margin: 0 30px; }

.company {
  position: relative;
  text-align: center;
  clear: both;
  background-color: #f2f5f5;
  padding-bottom: 96px; }
  .company-up {
    margin: 0;
    padding-top: 142px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: -0.095em;
    line-height: 1.35em; }
  .company-down {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #aaabab;
    font-size: 18px;
    letter-spacing: -0.09em;
    font-weight: 300; }
  .company .btn-border {
    color: #72cbcf;
    width: 178px;
    line-height: 36px;
    border: 2px solid #72cbcf; }

mark {
  background-color: transparent;
  color: #5ddbdb; }

.titlebar {
  background: url("../images/sub03_title_image.png") no-repeat center center;
  background-size: cover; }

.about .row {
  margin: -55px; }

.about .col-1-of-3 {
  padding: 55px; }
